# Next.js Server Settings
HOSTNAME=0.0.0.0
BACKEND_URL=http://backend:8000
NEXT_SERVER_API_URL=http://backend:8000/api

# Email Service
RESEND_API_KEY=your-resend-api-key

# Cloudflare R2 Settings
R2_PUBLIC_URL=https://pub-xxxxxx.r2.dev
