:root {
  --color-primary: #FFDB70;
  --color-secondary: #1E1E1F;
  --color-tertiary: #D6D6D6;
  --color-neutral: #121212;
  --font-main: "Manrope", sans-serif;
}

body {
  background-color: var(--color-neutral);
  color: var(--color-tertiary);
  font-family: var(--font-main);
}