# Core Django
Django>=5.2.9
djangorestframework
django-cors-headers

# Production Server Requirements
gunicorn
whitenoise
python-dotenv
dj-database-url

# Media Handling
Pillow

# Database
psycopg2-binary

# Cloudflare R2 / S3 Storage Support
django-storages[boto3]>=1.14